.App-link {
  color: #61dafb;
}
.heading{
  animation: headinganimate 3s linear 1s infinite alternate slidein;
}

@keyframes headinganimate {
  from {
    transform: translateX(200px);  }
  to {
    transform: translateX(800px);  }
}